.footer {
  background: linear-gradient(45deg, salmon, red);
  padding: 20px;
  color: #fff;
  .ft_sec_mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer__section-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .footer__section-item {
      color: #fff;
      font: 300;

      a {
        text-decoration: none;
        color: #fff;
        font: 300;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer__logo-content {
    font-size: 0.8rem;
  }

  .quick__link,
  .office__info {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .footer__link-title {
    font-size: 1rem;
    margin-top: 15px;
  }

  .footer__bottom p {
    font-size: 0.7rem;
  }
}
